* {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

h3 {
    position: fixed; 
    z-index: 3; 
    width: 100%;
    text-align: center; 
    top: 80px; 
}

#body-wrapper {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#disclaimer {
    position: absolute; 
    bottom: 5px; 
}

#disclaimer, #disclaimer a {
    font-size: 14px;
}

#disclaimer a {
    font-style: italic;
    color: #212521; 
    font-weight: 700; 
}

/*
** Style of the select element
*/ 
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    width: 400px; 
    border: 2px solid #ffce01; 
    border-radius: 50px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-top: -300px; 
}

.select-half {
    border-bottom: none !important; 
    border-bottom-left-radius: 0 !important; 
    border-bottom-right-radius: 0 !important; 
}
  
.custom-select select {
    display: none; /*hide original SELECT element:*/
    z-index: 3; 
    background: transparent; 
}

.rounded-bottom-corner {
    border-bottom-left-radius: 22px !important; 
    border-bottom-right-radius: 22px !important; 
}
  
.select-selected {
    background-color: transparent;
    
}
  
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 34px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #ffce01 transparent transparent transparent;
}

.custom-select-jq:after {
    position: absolute;
    content: "";
    top: 34px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #00aeff transparent transparent transparent;
}
  
/*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #ffce01 transparent;
    top: 26px;
}

.custom-select-jq.select-arrow-active:after {
    border-color: transparent transparent #ffce01 transparent;
    top: 26px;
}
  
/*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #212521;
    padding: 15px 16px;
    border: none; 
    cursor: pointer;
    user-select: none;
}
  
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: transparent;
    top: calc(100% - 30px);
    padding-top: 30px; 
    left: -2px;
    right: -2px;
    z-index: 99;
    border-bottom: 2px solid #ffce01; 
    border-left: 2px solid #ffce01; 
    border-right: 2px solid #ffce01; 
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
}
  
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: #ffce01;
}

.select-items div:last-child:hover {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px; 
}

.custom-select-jq {
    position: relative;
    width: 400px; 
    border: 2px solid #00aeff; 
    border-radius: 50px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-top: -300px; 
    margin-left: 100px;
    cursor: pointer; 
}

.custom-select-jq select {
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-radius: 18px; 
    width: 400px;
    border: none; 
    background: transparent; 
    padding-left: 25px; 
    box-shadow: none; 
}

#up-arrow {
    width: 10px; 
    height: 10px; 
    background: #00aeff; 
    position: absolute;
    right: 30px; 
    top: 28px; 
    transform: rotateZ(45deg);
    cursor: pointer; 
}

#up-arrow .cover {
    width: 13px; 
    height: 13px; 
    background: #fff;
    position: relative; 
    top: -10px; 
    transform: rotateZ(-45deg) translateX(-7px) translateY(-2px);
}

#jq-options {
    position: absolute; 
    top: 28px; 
    list-style: none; 
    border-bottom: 2px solid #00aeff; 
    border-right: 2px solid #00aeff; 
    border-left: 2px solid #00aeff; 
    width: 400px; 
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px; 
    left: -2px; 
    padding-left: 0;
}

#jq-options li {
    padding-top: 18px; 
    padding-bottom: 13px; 
    cursor: pointer; 
    padding-left: 30px; 
}

#jq-options li:last-child {
    border-bottom-left-radius: 22px; 
    border-bottom-right-radius: 22px;
}

#jq-options li:hover {
    background: #00aeff; 
}

#jq-options li:first-child {
    margin-top: 20px; 
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}




